.services {
  margin-top: -150px;
  padding: 50px 0 100px;
}

.quality {
  padding-bottom: 100px;

  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }
}
